.Header{
    height: 50px;
    background: black;
    text-align: right;

}

.Header li a{
    text-decoration: none;
    color: white;
}

.Header li {
    padding-top: 5px;
    display: inline-block;
    margin: 10px;
    text-transform: uppercase;

}
.Header li a.selected {
    color: orangered;
    font-weight: bold;

}